.success_custom {
  padding: 21px 17px;
  background-color: #61b46926;
  border: 1px solid #61b46933;
  border-radius: 10px;
}

.success_custom span {
  font-size: 15px;
  font-weight: 700;
  color: #45a34e;
}
