.refillWindow{
    width: 50%;
    padding: 24px;
    box-shadow: var(--box-shadow);
    border: var(--border-form);
    border-radius: var(--border-radius-form);
}

.refillWindow h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-title-color);
}

.captcha{
    width: 100%;
    height: 54px;
    border: var(--border-form);
    border-radius: var(--border-radius);
}